@import './common/var';
@import './layout';
@import './button';
@import './form';

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'PingFang SC', 'Microsoft YaHei';
  cursor: default;
  margin: 0;
  padding: 0;
}

p {
  color: $color-primary;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  margin: 20px 0;
  position: relative;
}

a {
  &,
  &:hover,
  &:focus,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
  }
}
