.content {
  margin: 0 auto;
  margin-top: 80px;
}
.container {
  position: relative;
}
.page-form {
  input {
    &,
    &:hover,
    &:focus {
      border: 4px solid transparent;
      color: $color-primary;
      font-weight: bold;
      max-width: 500px;
      outline: none;
      transition: border .3s;
    }
    &:focus {
      border-bottom: 4px solid $color-primary;
    }
  }
}

header {
  background: #fff;
  box-shadow: 0 0 4px 0 $color-shadow;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  .header {
    height: 100%;
    &-info {
      display: block;
      float: right;
      font-size: 20px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      a {
        font-size: 24px;
        margin-left: 16px;
      }
    }
  }
}

.header-logo {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
}

.room-title {
  color: $color-primary;
  font-size: 32px;
  font-weight: bold;
  position: relative;
  a {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.send-btn {
  border: 2px solid transparent;
  border-radius: 6px;
  color: #333;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  padding: 0 8px;
  position: absolute;
  right: 0;
  transition: all .3s;
  top: 0;
  &:hover {
    border: 2px solid $color-primary;
  }
}

.message-btn {
  border: 2px solid transparent;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
  color: $color-primary;
  font-size: 16px;
  padding: 6px 4px;
  position: fixed;
  top: 50%;
  right: -2px;
  transform: translateY(-50%);
  writing-mode: vertical-lr;
  transition: all .3s;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  z-index: 200;
  &:hover {
    border: 2px solid $color-primary;
  }
}
