{{ extend './layout/index.html' }}
{{ block 'head' }}
{{ /block }}
{{ block 'content' }}
  <div class="content container">
    {{ if visited }}
    <p>好嘞! 客官</p>
    <p>那麻烦提供一下新身份的信息</p>
    <p>小的重新登记一下</p>
    {{ else }}
    <p>那您可就来对地儿啦~</p>
    <p>在这可以畅所欲言</p>
    <p>只需在这登记下您的信息</p>
    {{ /if }}
    <form class="page-form" id="register-form">
      <p class="input-item">
        身份: <input type="text" id="register-username" name="username" autocomplete="off" autofocus>
        <span id="check-username"></span>
      </p>
      <p class="input-item">
        称呼: <input type="text" id="register-name" name="name" autocomplete="off">
        <span id="check-name"></span>
      </p>
      <p class="input-item">
        口令: <input type="password" id="register-password" name="password">
        <span id="check-password"></span>
      </p>
    </form>
    {{ if !visited }}
    <p>当然您也可以四处逛逛</p>
    <p>听听家国大事或者江湖传闻</p>
    <p>等您感兴趣了</p>
    <p>再回来登记也可以</p>
    {{ /if }}
    <p class="user-button">
      <a id="register-submit" href="javascript:void(0)">记住了么</a>
    </p>
    <p class="user-button">
      <a href="/hall">四处逛逛</a>
    </p>
  </div>
  <div class="beian">
    <a href="http://www.beian.miit.gov.cn" target="_bank">个人版权所有 粤ICP备19086171号-1</a>
  </div>
{{ /block }}
