@import url('./layout.css');
@import url('./button.css');
@import url('./form.css');

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'PingFang SC', 'Microsoft YaHei';
  cursor: default;
  margin: 0;
  padding: 0;
}

p {
  color: #333;
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  margin: 20px 0;
  position: relative;
}

a,
a:hover,
a:focus,
a:visited {
  color: #333;
  display: inline-block;
  text-decoration: none;
}
